# Terraform

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# AWS Keys

*.pem

# Downloads / Tools

eksctl.exe
*.zip

# OS Files

.DS_Store
Thumbs.db
jenkins-iam-policy.json
jenkins-iam-policy.json
